# The number of milliseconds of each tick
# 每次心跳的毫秒数
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
# 初始化心跳延迟，同步阶段的时候可能也需要
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
# 同步延迟
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
# 数据目录
dataDir=/var/zk
# the port at which the clients will connect
# 连接客户端用的投票
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

# server.<myid>=<node_name>:<leader连接其他follower用的端口>:<选举时接收投票的端口>
# 记得在每个节点的数据目录下添加myid文件
server.1=node01:2888:3888
server.2=node02:2888:3888
server.3=node03:2888:3888
server.4=node04:2888:3888
